<div class="bg-gray-800 text-white p-4 hidden md:block">
  <div class="lg:w-10/12 mx-auto flex justify-between">
    <div class="container mx-auto flex justify-between">
      <div class="flex">
        <div class="mx-5">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</div>
        <button class="underline font-semibold text-md">ShopNow</button>
      </div>
      <div class="flex items-center space-x-2">
        <p>English</p>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
  </div>
</div>
