<!-- Right-side Banner -->
<div class="relative flex-1 bg-black text-white flex items-center justify-between p-2">
  <div class="relative z-10 text-left pl-20">
    <div class="text-sm text-gray-100 text-center space-x-5 flex items-center">
      <i class="fa-brands fa-apple text-6xl"></i>
      <p>iPhone 14 Series</p>
    </div>
    <h1 class="text-6xl font-medium my-4 leading-tight">Up to 10% off Voucher
    </h1>
    <div class="mt-8">
      <a href="#"
        class="text-lg bg-transparent border border-white py-2 px-6 text-white hover:bg-white hover:text-black transition duration-300">Shop
        Now →</a>
    </div>
  </div>
  <div class="w-8/12">
    <img class="h-full w-full object-cover" src="~/images/iphone-14.png"
      alt="iPhone 14 Series" />
  </div>
</div>
