<div class="flex space-x-8 w-full items-center justify-end">
  <button class="text-xl text-gray-400 hover:text-red-600">
    <i class="fa-regular fa-heart"></i>
  </button>
  <div class="relative">
    <button class="text-xl text-gray-400 hover:text-red-600">
      <i class="fa fa-cart-shopping"></i>
    </button>
    <span class="absolute rounded-full -top-3 -right-2 w-4 h-4 flex items-center justify-center text-xs text-white bg-red-600">5</span>
  </div>
  <button class="flex items-center justify-center text-xl text-gray-400 hover:cursor-pointer hover:text-red-600">
    <i class="fa-regular fa-user"></i>
  </button>
</div>