<div class="w-64 bg-gray-100 p-2">
  <ul class="space-y-4">
    <li class="flex justify-between items-center text-gray-700 hover:text-red-600 cursor-pointer">
      <a href="#">Woman's Fashion</a>
      <i class="fa-solid fa-chevron-right"></i>
    </li>
    <li class="flex justify-between items-center text-gray-700 hover:text-red-600 cursor-pointer">
      <a href="#">Men's Fashion</a>
      <i class="fa-solid fa-chevron-right"></i>
    </li>
    <li class="text-gray-700 hover:text-red-600 w-full"><a href="#">Electronics</a></li>
    <li class="text-gray-700 hover:text-red-600 w-full"><a href="#">Home & Lifestyle</a></li>
    <li class="text-gray-700 hover:text-red-600 w-full"><a href="#">Medicine</a></li>
    <li class="text-gray-700 hover:text-red-600 w-full"><a href="#">Sports & Outdoor</a></li>
    <li class="text-gray-700 hover:text-red-600 w-full"><a href="#">Baby's & Toys</a></li>
    <li class="text-gray-700 hover:text-red-600 w-full"><a href="#">Groceries & Pets</a></li>
    <li class="text-gray-700 hover:text-red-600 w-full"><a href="#">Health & Beauty</a></li>
  </ul>
</div>