@model IEnumerable<Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mx-auto">
    @Html.Partial("~/Views/Components/Banners/_Banners.cshtml")
    @* @Html.Partial("~/Views/Components/_Products.cshtml") *@
</div>
